<!-- Page content-->
<div class="form container-fluid">
    <p class="text-center display-5 text-decoration-underline">Bovino</p>
    <form>
        <div class="row py-4">
            <p class="text-left lead"> Dados Bovino</p> <hr>
            <div class="form-group col-lg-3 pt-3 pt-lg-1">
                <label for="inputEmail4"> Brinco </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Brinco">
            </div>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Raça </label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Raça">
            </div>    
            <div class="form-group col-lg-2 pt-3 pt-lg-1">
                <label for="inputPassword4"> Peso </label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Peso">
            </div>    
            <div class="form-group col-lg-3 pt-3 pt-lg-1">
                <label for="inputPassword4"> Data da pesagem </label>
                <input type="date" class="form-control" id="inputPassword4">
            </div>    
        </div>
        <div class="row py-4">
            <p class="text-left lead"> Vacinações </p> <hr>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Escolher vacina </label>
                <select class="form-control" id="inputEmail4" placeholder="Email">
                    <option value="vacina"> Vacina 1 </option>
                    <option value="vacina"> Vacina 2 </option>
                    <option value="vacina"> Vacina 3 </option>
                    <option value="vacina"> Vacina 4 </option>
                </select>
            </div>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Dosagem </label>
                <input type="number" class="form-control" id="inputEmail4" value="0">
            </div>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Data de Aplicação </label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Password">
            </div>    
        </div>
        <div class="row py-4">
            <p class="text-left lead"> Lote </p> <hr>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Escolher lote </label>
                <select class="form-control" id="inputEmail4" placeholder="Email">
                    <option value="vacina"> Lote 1 </option>
                    <option value="vacina"> Lote 2 </option>
                    <option value="vacina"> Lote 3 </option>
                    <option value="vacina"> Lote 4 </option>
                </select>
            </div>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Data de alocação do lote </label>
                <input type="date" class="form-control" id="inputEmail4" value="0">
            </div>
            <div class="form-group col-md-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Data de remoção do lote </label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Password">
            </div>    
        </div>
        <div class="text-center pt-4">
            <button type="submit" class="btn btn-primary px-5"> Continuar </button>
        </div> 
    </form>
</div>
