<!-- Page content-->
<div class="form container-fluid">
    <p class="text-center display-5 text-decoration-underline">Bovino</p>
    <form>
        <div class="row py-4">
            <p class="text-left lead"> Dados Bovino</p> <hr>
            <div class="form-group col-lg-3 pt-3 pt-lg-1">
                <label for="inputEmail4"> Brinco </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Brinco">
            </div>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Raça </label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Raça">
            </div>    

        </div>

        <p class="text-left lead pt-4"> Pesagem </p> <hr>

        <div class="row">
            <a class="col-1" id="filldetails" (click)="addFieldsPesagem()"> <mat-icon>add</mat-icon> </a>
            <a class="col-1" id="filldetails" (click)="removeFieldsPesagem()"> <mat-icon> remove </mat-icon> </a>
        </div>

        <div id="containerpesagem">

        </div>

        <p class="text-left lead pt-4"> Vacinações </p> <hr>

        <div class="row">
            <a class="col-1" id="filldetails" (click)="addFieldsVacina()"> <mat-icon>add</mat-icon> </a>
            <a class="col-1" id="filldetails" (click)="removeFieldsVacina()"> <mat-icon> remove </mat-icon> </a>
        </div>
        
        <div id="containervacinas">

        </div>

        <p class="text-left lead pt-4"> Lote </p> <hr>

        <div class="row">
            <a class="col-1" id="filldetails" (click)="addFieldsLotes()"> <mat-icon>add</mat-icon> </a>
            <a class="col-1" id="filldetails" (click)="removeFieldsLotes()"> <mat-icon> remove </mat-icon> </a>
        </div>

        <div id="containerlotes">

        </div>
        
        <div class="text-center pt-4">
            <button type="submit" class="btn btn-primary px-5"> Continuar </button>
        </div> 
    </form>
</div>
