<div class="container-fluid" *ngIf="mostrarMenu">
    <nav class="navbar navbar-light bg-light main justify-content-center">
        <label class="lead"> <img src="assets/logo.png" alt="" width="30" height="24"> Gerenciamento de bovinos </label>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light cabecalho-mobile">
    <div class="container-fluid text-center">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="" class="nav-link" href="/"> Home Page </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/animal/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Novo bovino </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lote/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Novo lote </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pasto/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Novo pasto </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/racao/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Nova ração </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/medicacao/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Novo medicamento </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/venda/create" class="list-group-item list-group-item-action list-group-item-light p-3"> Registrar venda </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/relatorios" class="list-group-item list-group-item-action list-group-item-light p-3"> Relatórios </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a routerLink="/usuario/create" class="dropdown-item">Novo Usuário</a></li>
                        <li><a (click)="RemoveToken()" href="" class="dropdown-item">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</div>