<!-- Page content -->
<div class="form container-fluid">
    <mat-tab-group>
        <mat-tab label="Relatório Bovinos"> 
          <app-relatoriobovino></app-relatoriobovino> 
        </mat-tab>
        <mat-tab label="Relatório Lotes">
          <app-relatoriolotes></app-relatoriolotes>
        </mat-tab>
        <mat-tab label="Relatório Pastos">
          <app-relatoriopastos></app-relatoriopastos>
        </mat-tab>
        <mat-tab label="Relatório Rações">
          <app-relatorioracoes></app-relatorioracoes>
        </mat-tab>
        <mat-tab label="Relatório Medicamentos">
          <app-relatoriomedicacoes></app-relatoriomedicacoes>
        </mat-tab>
        <mat-tab label="Relatório Vendas">
          <app-relatoriovendas></app-relatoriovendas>
        </mat-tab>
    </mat-tab-group>
</div>