<!-- Page content -->
<div class="form container-fluid">
    <mat-tab-group>
        <mat-tab label="Lista Bovinos"> 
          <app-relatoriobovino></app-relatoriobovino> 
        </mat-tab>
        <mat-tab label="Lista Lotes">
          <app-relatoriolotes></app-relatoriolotes>
        </mat-tab>
        <mat-tab label="Lista Pastos">
          <app-relatoriopastos></app-relatoriopastos>
        </mat-tab>
        <mat-tab label="Lista Racoes">
          <app-relatorioracoes></app-relatorioracoes>
        </mat-tab>
        <mat-tab label="Lista Medicamentos">
          <app-relatoriomedicacoes></app-relatoriomedicacoes>
        </mat-tab>
        <mat-tab label="Lista Vendas">
          <app-relatoriovendas></app-relatoriovendas>
        </mat-tab>
    </mat-tab-group>
</div>