<!-- Page content-->
<div class="form container-fluid">
    <p class="text-center display-5 text-decoration-underline"> Deletar ração do lote </p>
    <form class="was-validated" novalidate>
        <div class="row py-4">
            <p class="text-left lead"> Dados ração do lote   </p> <hr>
            <div class="row"> 
                <div class="form-group col-lg-6 pt-3 pt-lg-1"> 
                    <label> Tempo inicial* (dia/mês/ano) </label> 
                    <input matInput [(ngModel)]="lotbov.tempoInicial" mask="00/00/0000"  maxlength="10" type="text"  name="tempoInicial" class="form-control-forms" placeholder="00/00/0000" disabled> 
                </div> 
                <div class="form-group col-lg-6 pt-3 pt-lg-1"> 
                    <label> Tempo final* (dia/mês/ano) </label> 
                    <input matInput [(ngModel)]="lotbov.tempoFinal" mask="00/00/0000"  maxlength="10" type="text"  name="tempoFinal" class="form-control-forms" placeholder="00/00/0000" disabled> 
                </div> 
            </div>   
        </div>
        <div class="text-center pt-4 row">
            <button (click)='delete()' class="btn btn-primary px-5 col-lg-6 col-12"> Deletar </button>
            <button (click)='cancel()' class="btn btn-danger px-5 col-lg-6 col-12"> Cancelar </button>
        </div> 
    </form>
</div>