.form-control-forms {
    display: block;
    width: 100%;
    padding: .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid;
    border-radius: .25rem;
}

.form-control-forms.is-valid, .was-validated .form-control-forms:valid {
    border-color: #198754;
}

.form-control-forms.is-invalid, .was-validated .form-control-forms:invalid {
    border-color: #dc3545;
}