<div class="wrapper fadeInDown">
    <div id="formContent">

      <div class="fadeIn first py-3">
        <img src="assets/logo.png" id="icon" alt="User Icon"/>
        Gerenciamento de bovinos
      </div>

      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <input type="text" id="login" [(ngModel)]='login.usuario' class="fadeIn second" name="login" placeholder="Usuario" required>
        <input type="password" id="password" [(ngModel)]='login.senha' class="fadeIn third" name="password" placeholder="Senha" required>
        <input type="submit" class="fadeIn fourth" value="Entrar">
      </form>
  
    </div>
</div>