<div class="mat-elevation-z8">
    <form class="pesq-form">
      <mat-form-field class="pesq-full-width mt-3" appearance="fill">
          <mat-label>Pesquisar</mat-label>
          <input matInput type='text' name='pequisa' (input)="Pesquisa()" id="pesquisa">
      </mat-form-field>
    </form>
    <div class="table-responsive divConteudo">
      <table mat-table [dataSource]="dataSource" matSort class="table table-dark table-hover" id="tabela">
    
          <!-- Weight Column -->
          <ng-container matColumnDef="brinco">
            <th class="margin-th table-light text-dark mat-brinco" mat-header-cell *matHeaderCellDef mat-sort-header> <label class='lead'>Brinco </label></th>
            <td class="margin-td" mat-cell *matCellDef="let element"> <label class='lead'> {{element.brinco}} </label> </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="raca">
            <th class="margin-th table-light text-dark mat-raca" mat-header-cell *matHeaderCellDef mat-sort-header> <label class='lead'>Raça </label></th>
            <td class="margin-td" mat-cell *matCellDef="let element"> <label class='lead'>{{element.raca}} </label></td>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="lote">
            <th class="margin-th table-light text-dark mat-lote" mat-header-cell *matHeaderCellDef mat-sort-header> <label class='lead'>Lote </label></th>
            <td class="margin-td" mat-cell *matCellDef="let element"> <label class='lead'>{{element.lote}} </label></td>
          </ng-container>
    
          <!-- Symbol Column -->
          <ng-container matColumnDef="peso">
            <th class="margin-th table-light text-dark mat-peso" mat-header-cell *matHeaderCellDef mat-sort-header> <label class='lead'>Peso(KG) </label></th>
            <td class="margin-td" mat-cell *matCellDef="let element"> <label class='lead'>{{element.peso}} </label></td>
          </ng-container>
    
          <!-- Position Column -->
          <ng-container matColumnDef="info">
            <th class="margin-th mat-infos table-light text-dark" mat-header-cell *matHeaderCellDef> <label class='lead'>Peso | Vacinação | Lote </label> </th>
            <td class="margin-td" mat-cell *matCellDef="let element"> 
              <a class='peso' routerLink="/editar-bovino/{{ element.brinco }}">
                <img class='iconpeso mx-3' src="assets/kg.png" alt="">
              </a>
              <a class='vacina' routerLink="/deletar-bovino/{{ element.brinco }}">
                <img class='iconvacina mx-3' src="assets/vacina.png" alt="">
              </a>  
              <a class='lote' routerLink="/deletar-bovino/{{ element.brinco }}">
                <img class='iconbovino mx-3' src="assets/bovino.png" alt="">
              </a>  
            </td>
          </ng-container>
    
          <!-- Weight Column -->
          <ng-container matColumnDef="acoes">
            <th class='mat-acoes margin-th table-light text-dark' mat-header-cell *matHeaderCellDef> <label class='lead'> edit | delete </label></th>
            <td class="margin-td" mat-cell *matCellDef="let element">  
              <a class='edit' routerLink="/editar-bovino/{{ element.brinco }}">
                <i class='material-icons mx-2'>edit</i>
              </a>
              <a class='delete' routerLink="/deletar-bovino/{{ element.brinco }}">
                <i class='material-icons mx-2'>delete</i>
              </a>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 30, 50]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
    </mat-paginator>