<!-- Page content-->
<div class="form container-fluid">
    <p class="text-center display-5 text-decoration-underline text-break"> Registar venda de lote </p>
    <form>
        <div class="row py-4">
            <p class="text-left lead"> Dados da venda </p> <hr>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Valor da arroba </label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="Valor da arroba">
            </div>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Data da venda </label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="Sobrenome">
            </div>    
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Peso total do lote </label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Peso">
            </div> 
        </div>
        <div class="row py-4">
            <p class="text-left lead"> Dados do cliente </p> <hr>
            <div class="form-group col-lg-7 pt-3 pt-lg-1">
                <label for="inputEmail4"> Nome </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nome">
            </div>  
            <div class="form-group col-lg-5 pt-3 pt-lg-1">
                <label for="inputEmail4"> Telefone </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Telefone">
            </div>  
        </div>
        <div class="text-right pt-4">
            <button type="submit" class="btn btn-primary px-5"> Registrar venda </button>
        </div> 
    </form>
</div>
