<!-- Page content-->
<div class="form container-fluid row">
    <div class="bg-light border rounded-3">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="bg-light border rounded-3 col-lg-4">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="bg-light border rounded-3 col-lg-8">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="bg-light border rounded-3">
        <br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
