<!-- Page content-->
<div class="form container-fluid row">
    <div class="bg-light border rounded-3 col-lg-8 py-5">
        <h1 class="display-5"> Melhores práticas para o confinamento de gado bovino
        </h1>
        <p> 
            O confinamento do gado bovino é uma das etapas mais importantes da produção agropecuária. No entanto, como fazê-lo da forma adequada? Em que momento ele se torna necessário para os gados de corte ou de leite? De que formas ele interfere na produtividade?
            Pensando nessas questões, elaboramos este texto. Durante a leitura, você encontrará as melhores práticas para esse momento tão relevante. Confira o artigo até o fim para saber mais a respeito e melhore o seu sistema de confinamento!
        </p>
        <a class='lead text-break' href="https://blog.belgobekaert.com.br/agro/melhores-praticas-para-o-confinamento-de-gado-bovino/"> https://blog.belgobekaert.com.br/agro/melhores-praticas-para-o-confinamento-de-gado-bovino/ </a>
    </div>
    <div style="background-image: url(assets/confinamentobovino.jpg);background-size: 100% 100%;background-repeat:no repeat;height: 50vh;" class="bg-light border rounded-3 col-lg-4">
    </div>
    <div class="bg-light border rounded-3 col-lg-8 py-5">
        <h1 class="display-5"> Boas práticas de manejo no curral </h1>
        <p> 
            O dia a dia de trabalho nas fazendas de bovinos de corte envolve a realização de várias atividades, muitas delas
            precisam ser realizadas nos currais de manejo, onde é possível se ter maior controle sobre os animais.
            Frequentemente as situações que envolvem o manejo dos bovinos no curral são erroneamente assumidas como fontes
            inevitáveis de estresse e que resultam em alto risco de acidentes, tanto para os vaqueiros quanto para os bovinos
            que estão sendo manejados, e que nada pode ser feito para evitar esses problemas. Entretanto, mesmo nas situações
            em que procedimentos estressantes não possam ser evitados, muito pode ser feito para minimizá-los. Por exemplo,
            com a adoção das boas práticas de manejo podemos minimizar o estresse e a dor resultantes da castração ou da
            aplicação de vacinas e medicamentos, favorecendo o bem-estar dos animais.
            Para tanto, é necessário que ocorra uma mudança de atitude, que implica primeiramente no respeito para com
            os bovinos, reconhecendo-os como seres sencientes – que têm capacidade de sentir dor, medo e também
            contentamento – para, em seguida, adotar estratégias de manejo que levem em conta o bem-estar dos animais e
            seus comportamentos naturais.
            Este manual tem como objetivo oferecer uma série de recomendações práticas sobre como realizar os procedimentos
            de manejo dos bovinos no curral com mínimo estresse, menor risco de acidentes e maior eficiência na realização do
            trabalho. Boa leitura!
        </p>
        <a class='lead text-break' href="http://www.grupoetco.org.br/arquivos_br/manuais/manual-boas-praticas-de-manejo_no-curral.pdf"> http://www.grupoetco.org.br/arquivos_br/manuais/manual-boas-praticas-de-manejo_no-curral.pdf </a>
    </div>
    <div style="background-image: url(assets/bovinohomepage.jpg);background-size: 100% 100%;background-repeat:no repeat;height: 60vh;" class="bg-light border rounded-3 col-lg-4">
    </div>
    <div class="bg-light border rounded-3 col-lg-8 py-5">
        <h1 class="display-5"> Alimentação de bovinos: Saiba quais são as boas práticas </h1>
        <p> 
            A eficiência brasileira na produção de bovinos é tão notável que o país se mantém, há anos, como o maior exportador e o segundo maior produtor de carne de gado. O grau de excelência dos nossos produtos é resultado da boa execução do manejo animal somado ao controle sanitário e à nutrição de qualidade. Entre esses fatores, a alimentação de bovinos tem um papel crucial para que o desempenho do rebanho seja expresso à altura do seu potencial genético.
            Com o desenvolvimento de linhagens adaptadas aos sistemas de criação modernos e a evolução das raças, as exigências nutricionais dos animais aumentaram, visto que eles precisam de uma suplementação para produzir carne e leite de acordo com as demandas do mercado. A complementação é necessária, pois as pastagens são deficientes em alguns elementos, dependendo da região e da época do ano.
            Mas por que a nutrição é tão importante para a pecuária? Quais são as práticas de alimentação de bovinos que devem ser implementadas para atingir as metas de produtividade do negócio? Continue a leitura do artigo e entenda!
        </p>
        <a class='lead text-break' href="https://nutricaoesaudeanimal.com.br/alimentacao-de-bovinos-boas-praticas/"> https://nutricaoesaudeanimal.com.br/alimentacao-de-bovinos-boas-praticas/ </a>
    </div>
    <div style="background-image: url(assets/alimentacabovino.jpg);background-size: 100% 100%;background-repeat:no repeat;height: 50vh;" class="bg-light border rounded-3 col-lg-4">
    </div>
</div>
