<!-- Page content-->
<div class="form container-fluid">
    <p class="text-center text-break display-5 text-decoration-underline">Informações da conta</p>
    <form>
        <div class="row py-4">
            <p class="text-left lead"> Dados usuario</p> <hr>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputEmail4"> Nome </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nome">
            </div>
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Sobrenome </label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Sobrenome">
            </div>    
            <div class="form-group col-lg-4 pt-3 pt-lg-1">
                <label for="inputPassword4"> Usuário </label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Usuário">
            </div>     
        </div>
            <p class="text-left lead"> Resetar senha</p> <hr>
            <div class="form-group col-lg-3 pt-3 pt-lg-1">
                <label for="inputPassword4"> Nova senha </label>
                <input type="password" class="form-control" id="Senha">
            </div>   
            <div class="form-group col-lg-3 pt-3">
                <label for="inputPassword4"> Repetir senha </label>
                <input type="password" class="form-control" id="Senha">
            </div>       
        <div class="text-center pt-4">
            <button type="submit" class="btn btn-primary px-5"> Continuar </button>
        </div> 
    </form>
</div>