<div class="main"> 
    <!-- Sidebar-->
    <div class="border-end bg-white main d-none d-sm-block" id="sidebar-wrapper">
        <div class="list-group-flush">
            <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3 tag-router" href="/"> Home Page </a>
            <a routerLink="/dados-bovino" class="list-group-item list-group-item-action list-group-item-light p-3" href="/dados-bovino"> Registrar bovino </a>
            <a routerLink="/registrar-venda" class="list-group-item list-group-item-action list-group-item-light p-3" href="/registrar-venda"> Registrar venda </a>
            <a routerLink="/relatorios" class="list-group-item list-group-item-action list-group-item-light p-3" href="/relatorios"> Relatórios </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 dropdown-toggle tag-user" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a routerLink="/informacoes-usuario" class="dropdown-item" href="/informacoes-usuario">Informações da conta</a></li>
                <li><a routerLink="/novo-usuario" class="dropdown-item" href="/novo-usuario">Novo Usuário</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
